beautifulsoup4
requests
pandas
numpy
sentence-transformers
chromadb
pinecone
weaviate-client
python-dotenv
mistralai
langchain
langchain-google-genai
chainlit
uvicorn
fastapi
langchain-chroma
langchain-huggingface
langchain-mistralai
httpx

